<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="gazebo_elements">

        <!-- Gazebo Color for Base link-->
        <gazebo reference="base_link">

            <xacro:if value="${robot_name == 'morty'}">
                <material>Gazebo/Blue</material>
            </xacro:if>
            <xacro:unless value="${robot_name == 'morty'}">
                <material>Gazebo/Red</material>
            </xacro:unless>
            
        </gazebo>

        <!-- Gazebo - Left Drive Wheel -->
        <gazebo reference="left_drive_wheel">
            <material>Gazebo/Black</material>
            <kp>1000000000000000000000000000.0</kp>
            <kd>1000000000000000000000000000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
        </gazebo>

        <!-- Gazebo - Right Drive Wheel -->
        <gazebo reference="right_drive_wheel">
            <material>Gazebo/Black</material>
            <kp>1000000000000000000000000000.0</kp>
            <kd>1000000000000000000000000000.0</kd>
            <mu1>10.0</mu1>
            <mu2>10.0</mu2>
        </gazebo>

        <!-- Gazebo - Front Caster Wheel -->
        <gazebo reference="front_caster_wheel_yaw_link">
            <material>Gazebo/Green</material>
            <kp>1000000000000000000000000000.0</kp>
            <kd>1000000000000000000000000000.0</kd>
            <mu1>0.1</mu1>
            <mu2>0.1</mu2>
        </gazebo>

        <!-- Gazebo - Back Caster Wheel -->
        <gazebo reference="back_caster_wheel_yaw_link">
            <material>Gazebo/Green</material>
            <kp>1000000000000000000000000000.0</kp>
            <kd>1000000000000000000000000000.0</kd>
            <mu1>0.1</mu1>
            <mu2>0.1</mu2>
        </gazebo>

        <!-- Gazebo Color for Upper Right Rod -->
        <gazebo reference="upper_right_rod">
            <material>Gazebo/White</material>
        </gazebo>

        <!-- Gazebo Color for Lower Right Rod -->
        <gazebo reference="lower_right_rod">
            <material>Gazebo/White</material>
        </gazebo>

        <!-- Gazebo Color for Lower Left Rod -->
        <gazebo reference="lower_left_rod">
            <material>Gazebo/White</material>
        </gazebo>

        <!-- Gazebo Color for Upper Left Rod -->
        <gazebo reference="upper_left_rod">
            <material>Gazebo/White</material>
        </gazebo>

        <!-- Gazebo Color for Cup Holder Tray -->
        <gazebo reference="cup_holder_tray">

            <xacro:if value="${robot_name == 'morty'}">
                <material>Gazebo/Blue</material>
            </xacro:if>
            <xacro:unless value="${robot_name == 'morty'}">
                <material>Gazebo/Red</material>
            </xacro:unless>
            
        </gazebo>

        <!-- Gazebo Color for Laser Scan Link -->
        <gazebo reference="laser_scan_link">
            <material>Gazebo/Grey</material>
        </gazebo>

    </xacro:macro>

</robot>