<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_robot">
 
    <!-- Robot global dimensions -->
    <xacro:property name="base_link_radius" value="0.178" />
    <xacro:property name="base_link_height" value="0.155" />
    <xacro:property name="base_link_mass" value="0.5" />

    <xacro:property name="drive_wheel_radius" value="0.0352"/>
    <xacro:property name="drive_wheel_width" value="0.0206"/>
    <xacro:property name="drive_wheel_mass" value="0.05"/>

    <xacro:property name="caster_wheel_radius" value="0.0352" />
    <xacro:property name="caster_wheel_mass" value="0.05" />
    <xacro:property name="negligible_mass" value="0.001" />

    <xacro:property name="rod_radius" value="0.01" />
    <xacro:property name="rod_height" value="0.22" />
    <xacro:property name="rod_mass" value="0.025" />

    <xacro:property name="tray_radius" value="0.160" />
    <xacro:property name="tray_width" value="0.090" />
    <xacro:property name="tray_mass" value="0.25" />

    <xacro:property name="box_x_size" value="0.02" /> <!-- Laser scanner -->
    <xacro:property name="box_y_size" value="0.02" /> <!-- Laser scanner -->
    <xacro:property name="box_z_size" value="0.05" /> <!-- Laser scanner -->
    <xacro:property name="box_mass" value="0.05" />   <!-- Laser scanner -->

    <!-- Included Macros  -->
    <xacro:include filename="$(find barista_robot_description)/xacro/barista_robot_model.gazebo.xacro" />
    <xacro:include filename="$(find barista_robot_description)/xacro/barista_robot_model.gazebo_plugins.xacro" />
    <xacro:include filename="$(find barista_robot_description)/xacro/drive_wheel.xacro" />
    <xacro:include filename="$(find barista_robot_description)/xacro/caster_wheel.xacro" />
    <xacro:include filename="$(find barista_robot_description)/xacro/standoff_rod.xacro" />
    <xacro:include filename="$(find barista_robot_description)/xacro/cup_holder_tray.xacro" />
    <xacro:include filename="$(find barista_robot_description)/xacro/laser_scanner.xacro" />

    <!-- Colors -->
    <material name="blue">
        <color rgba="0.006 0.151 0.781 1"/>
    </material>

    <material name="white">
        <color rgba="1.0 1.0 1.0 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="green_dark">
        <color rgba="0.0 0.5 0.0 1"/>
    </material>

    <!-- Base Footprint -->
    <link name="base_footprint"/>

    <joint name="base_footprint_to_base_link" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 ${base_link_height/2 + drive_wheel_radius}" />
        <parent link="base_footprint"/>
        <child link="base_link"/>
    </joint>

    <!-- Base Link -->
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder radius="${base_link_radius}" length="${base_link_height}" />
            </geometry>
            <material name="blue" />
        </visual>

        <collision>
            <geometry>
                <cylinder radius="${base_link_radius}" length="${base_link_height}" />
            </geometry>
        </collision>

        <inertial>
            <mass value="${base_link_mass}" />
            <origin rpy="0 0 0" xyz="0 0 0" />
            <xacro:cylinder_inertia mass="${base_link_mass}" r="${base_link_radius}" l="${base_link_height}" />
            <!--inertia ixx="0.0049615416667" ixy="0" ixz="0" iyy="0.0049615416667" iyz="0" izz="0.007921" /-->
        </inertial>
    </link>

    <!-- Drive Wheels + Joints -->
    <xacro:drive_wheel drive_wheel_name="left_drive_wheel" origin_joint_y="0.126"/>
    <xacro:drive_wheel drive_wheel_name="right_drive_wheel" origin_joint_y="-0.126" />

    <!-- Caster Wheels + Joints-->
    <xacro:caster_wheel prefix="front" joint_origin_x="0.11" />
    <xacro:caster_wheel prefix="back" joint_origin_x="-0.11" />

    <!-- Standoff rods + Joints -->
    <xacro:standoff_rod prefix="upper_right" origin_joint_x="0.07" origin_joint_y="-0.11" />
    <xacro:standoff_rod prefix="lower_right" origin_joint_x="-0.07" origin_joint_y="-0.11" />
    <xacro:standoff_rod prefix="lower_left" origin_joint_x="-0.07" origin_joint_y="0.11" />
    <xacro:standoff_rod prefix="upper_left" origin_joint_x="0.07" origin_joint_y="0.11" />

    <!-- Cup Holder Tray + Joint -->
    <xacro:cup_holder_tray />

    <!-- Include Laser scanner or not -->
    <xacro:arg name="include_laser" default="true"/>

    <xacro:if value="$(arg include_laser)">

        <!-- Laser scanner (Model link and Frame link) -->
        <xacro:laser_scanner />
        
        <joint name="base_link_to_laser_scan_link_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0.089 0 ${base_link_height/2}"/>
            <parent link="base_link" />
            <child link="laser_scan_link" />
        </joint>

        <joint name="laser_scan_link_to_frame_joint" type="fixed" >
            <origin rpy="0 0 0" xyz="0 0 0.05" />
            <parent link="laser_scan_link" />
            <child link="laser_scan_frame" />
        </joint>

    </xacro:if>


    <!-- Gazebo physical properties and colors -->
    <xacro:gazebo_elements />

    <!-- Gazebo plugins -->
    <xacro:gazebo_plugins />

</robot>
