<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find barista_robot_description)/xacro/inertia_macros.xacro" />

    <xacro:macro name="cup_holder_tray">
        <!-- Cup Holder Tray -->
        <link name="cup_holder_tray">
            <visual>
                <geometry>
                    <cylinder radius="${tray_radius}" length="${tray_width}" />
                </geometry>

                <!-- Change link color depending on robot_name -->
                <material name="${robot_color}" />
            </visual>

            <collision>
                <geometry>
                    <cylinder radius="${tray_radius}" length="${tray_width}" />
                </geometry>
            </collision>

            <inertial>
                <mass value="${tray_mass}" />
                <origin rpy="0 0 0" xyz="0 0 0" />
                <xacro:cylinder_inertia mass="${tray_mass}" r="${tray_radius}" l="${tray_width}" />
                <!--inertia ixx="0.00176875" ixy="0" ixz="0" iyy="0.00176875" iyz="0" izz="0.0032" /-->
            </inertial>
        </link>

        <joint name="base_link_to_cup_holder_tray_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0.3425" />
            <parent link="base_link" />
            <child link="cup_holder_tray" />
        </joint>
    </xacro:macro>

</robot>