<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find barista_robot_description)/xacro/inertia_macros.xacro" />

    <xacro:macro name="standoff_rod" params="prefix origin_joint_x origin_joint_y">

        <!-- Standoff rod -->
        <link name="${prefix}_rod" >
            <visual>
                <geometry>
                    <cylinder radius="${rod_radius}" length="${rod_height}" />
                </geometry>
                <material name="white" />
            </visual>

            <collision>
                <geometry>
                    <cylinder radius="${rod_radius}" length="${rod_height}" />
                </geometry>
            </collision>

            <inertial>
                <mass value="${rod_mass}" />
                <origin rpy="0 0 0" xyz="0 0 0" />
                <xacro:cylinder_inertia mass="${rod_mass}" r="${rod_radius}" l="${rod_height}" />
                <!--inertia ixx="0.0001014583333" ixy="0" ixz="0" iyy="0.0001014583333" iyz="0" izz="0.00000125" /-->
            </inertial>
        </link>

        <joint name="base_link_to_${prefix}_rod_joint" type="fixed" >
            <origin rpy="0 0 0" xyz="${origin_joint_x} ${origin_joint_y} 0.1875" />
            <parent link="base_link" />
            <child link="${prefix}_rod" />
        </joint>


    </xacro:macro>

</robot>