<?xml version="1.0"?>
<robot name="barista_robot">

    <link name="base_link">
        <visual>
            <geometry>
                <cylinder radius="0.178" length="0.155" />
            </geometry>
        </visual>

        <collision>
            <geometry>
                <cylinder radius="0.178" length="0.155" />
            </geometry>
        </collision>
    </link>

</robot>